<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<svg xmlns:svg="http://www.w3.org/2000/svg" height="0">
	<mask id="bigmask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
      <radialGradient id="rg_tl" cx="1" cy="1" r="1">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </radialGradient>
      <linearGradient id="lg_t" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0" stop-color="white" stop-opacity="0"/>
        <stop offset="1" stop-color="white" stop-opacity="1"/>
      </linearGradient>
      <radialGradient id="rg_tr" cx="0" cy="1" r="1">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </radialGradient>

      <radialGradient id="rg_bl" cx="1" cy="0" r="1">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </radialGradient>
      <linearGradient id="lg_b" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      <radialGradient id="rg_br" cx="0" cy="0" r="1">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </radialGradient>

      <linearGradient id="lg_l">
        <stop offset="0" stop-color="white" stop-opacity="0"/>
        <stop offset="1" stop-color="white" stop-opacity="1"/>
      </linearGradient>
      <linearGradient id="lg_r">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>

      <rect x="0.00" y="0.0005" width="0.02" height="0.01" fill="url(#rg_tl)"></rect>
      <rect x="0.98" y="0.0005" width="0.02" height="0.01" fill="url(#rg_tr)"></rect>

      <rect x="0.00" y="0.9895" width="0.02" height="0.01" fill="url(#rg_bl)"></rect>
      <rect x="0.98" y="0.9895" width="0.02" height="0.01" fill="url(#rg_br)"></rect>

      <rect x="0.02" y="0.0005" width="0.96" height="0.01" fill="url(#lg_t)"></rect>
      <rect x="0.02" y="0.9895" width="0.96" height="0.01" fill="url(#lg_b)"></rect>
      
      <rect x="0.001" y="0.01" width="0.02" height="0.98" fill="url(#lg_l)"></rect>
      <rect x="0.979" y="0.01" width="0.02" height="0.98" fill="url(#lg_r)"></rect>

      <rect x="0.02" y="0.01" width="0.96" height="0.98" fill="white"></rect>
    </mask>
  </svg><svg xmlns:svg="http://www.w3.org/2000/svg" height="0">
    <defs>
      <mask id="mymask" >
         <image xlink:href="../images/athlas/mask.png" x="0" y="0" width="205mm" height="95mm" />
      </mask>
    </defs>
</svg><svg xmlns:svg="http://www.w3.org/2000/svg" height="0">
    <defs>
      <mask id="archeology_mask" >
         <image xlink:href="../images/athlas/mask.png" x="0" y="0" width="70mm" height="32mm" />
      </mask>
    </defs>
</svg>
</head>
<body>
<div class="wrapper">